<p-toast></p-toast>
<form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
  <div class="form_input">
    <p-floatLabel>
      <input type="text" pInputText formControlName="ClientName" id="ClientName" ariaLabel="name" />
      <label for="ClientName">{{ "Name" | translate }}</label>
    </p-floatLabel>
    <app-validation-error
      [formGroupInput]="contactForm"
      formControlNameInput="ClientName"
    ></app-validation-error>
  </div>

  <div class="form_input">
    <p-floatLabel>
      <input
        pInputText
        formControlName="ClientMobile"
        type="number"
        id="ClientMobile"
      />
      <!-- <p-inputNumber
        mode="decimal"
        inputId="withoutgrouping"
        formControlName="ClientMobile"
        id="ClientMobile"
        [useGrouping]="false"
        ariaLabel="phone number"
      /> -->
      <label for="ClientMobile">{{ "Phone" | translate }}</label>
    </p-floatLabel>
    <app-validation-error
      [formGroupInput]="contactForm"
      formControlNameInput="ClientMobile"
    ></app-validation-error>
  </div>

  <div class="form_input">
    <p-floatLabel>
      <input type="email" pInputText formControlName="ClientEmail" id="ClientEmail" ariaLabel="email" />
      <label for="ClientEmail">{{ "Email" | translate }}</label>
    </p-floatLabel>
    <app-validation-error
      [formGroupInput]="contactForm"
      formControlNameInput="ClientEmail"
    ></app-validation-error>
  </div>

  <div class="form_input">
    <p-floatLabel>
      <input type="text" pInputText formControlName="ClientMsg" id="ClientMsg" ariaLabel="message" />
      <label for="ClientMsg">{{ "Message" | translate }}</label>
    </p-floatLabel>
    <app-validation-error
      [formGroupInput]="contactForm"
      formControlNameInput="ClientMsg"
    ></app-validation-error>
  </div>

  <div class="actions">
    <button
      pButton
      pRipple
      [label]="'Submit' | translate"
      class="fill_btn"
    ></button>
  </div>
</form>
