<form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
  <div class="form_input">
    <p-floatLabel>
        <input type="text" pInputText formControlName="name" id="name" />
        <label for="mobile">{{'Name' | translate}}</label>
    </p-floatLabel>
    <app-validation-error
      [formGroupInput]="contactForm"
      formControlNameInput="name"
    ></app-validation-error>
  </div>

  <div class="form_input">
    <p-floatLabel>
        <input type="text" pInputText formControlName="mobile" id="mobile" />
        <label for="mobile">{{'Phone' | translate}}</label>
    </p-floatLabel>
    <app-validation-error
      [formGroupInput]="contactForm"
      formControlNameInput="mobile"
    ></app-validation-error>
  </div>

  <div class="form_input">
    <p-floatLabel>
        <input type="text" pInputText formControlName="email" id="email" />
        <label for="email">{{'Email' | translate}}</label>
    </p-floatLabel>
    <app-validation-error
      [formGroupInput]="contactForm"
      formControlNameInput="email"
    ></app-validation-error>
  </div>

  <div class="form_input">
    <p-floatLabel>
        <input type="text" pInputText formControlName="message" id="message" />
        <label for="message">{{'Message' | translate}}</label>
    </p-floatLabel>
    <app-validation-error
      [formGroupInput]="contactForm"
      formControlNameInput="message"
    ></app-validation-error>
  </div>

  <div class="actions">
    <button pButton pRipple [label]="'Submit' | translate" class="fill_btn"></button>
  </div>
</form>
