.plans_container {
  padding: 54px;

  .plans {
    .section_header {
      display: flex;
      flex-direction: column;
      gap: 24px;
      justify-content: center;
      align-items: center;
      margin-bottom: 40px;
      h2 {
        color: #0f0f0f;
        font-size: 40px;
        line-height: 52px;
        font-weight: 900;
        margin: 0;
      }

      p {
        color: #64748b;
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
        margin-bottom: 0;
        text-align: center;
      }
    }
  }

  .second_table {
    margin-bottom: 54px;
    ::ng-deep {
      .main_header {
        th {
          border-block: none;
          border-bottom: 1px solid #e1e4ed;
          &:first-of-type {
            border-radius: 0;
          }
          &:last-of-type {
            border-radius: 0;
          }
        }
      }

      .p-datatable-tbody {
        tr {
          &:last-of-type {
            border-inline-end: 1px solid #e1e4ed;
            td {
              &:first-of-type {
                border-radius: 0 0 0 8px;
              }
              &:last-of-type {
                border-radius: 0 0 8px 0;
              }
            }
          }
        }
      }
    }
  }

  .table_details {
    .hide_plan {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 24px;
      p {
        margin: 0;
        color: #0f0f0f;
        font-weight: 900;
        line-height: 26px;
        font-size: 20px;
      }

      .actions{
        .fill_btn{
          flex-direction: row-reverse;
          background-color: #F3F6FF;
          gap: 8px;

          ::ng-deep{
            span{
              font-size: 12px;
              color: #1D4ED8;
              line-height: 18px;
            }
          }
        }
      }
    }
  }
}
