<div class="sol_container">
    <div class="container">
        <div class="sol">
            <div class="seaction_header">
                <h2>
                    {{'HighlyEffective' | translate}}
                </h2>
                <p>
                    {{'HighlyEffectiveDesc' | translate}}
                </p>
            </div>

            <div class="solution">
                <div class="img">
                    <picture>
                        <img src="assets/imgs/image3.webp" alt="solution image">
                    </picture>
                </div>

                <div class="section_data">
                    <app-info-box [data]="boxInfoDataOne"></app-info-box>
                </div>
            </div>

            <div class="sub_solution">
                <div class="solution_option">
                    <div class="sub_solution_info">
                        <app-info-box [data]="boxInfoDataTwo"></app-info-box>
                    </div>

                    <!-- <div class="sub_solution_img">
                        <img src="assets/imgs/image2.png" alt="solution image">
                    </div> -->
                </div>

                <div class="sub_solution_info_single">
                    <app-info-box [data]="boxInfoDataThree"></app-info-box>
                </div>
            </div>
        </div>
    </div>
</div>