<div class="sol_container">
    <div class="container">
        <div class="sol">
            <div class="seaction_header">
                <h2>
                    Highly effective solutions
                </h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipiscing eli mattis sit phasellus mollis sit aliquam sit nullam.
                </p>
            </div>

            <div class="solution">
                <div class="img">
                    <img src="assets/imgs/Image-(Replace).jpg" alt="solution image">
                </div>

                <div class="section_data">
                    <app-info-box [data]="boxInfoData"></app-info-box>
                </div>
            </div>

            <div class="sub_solution">
                <div class="solution_option">
                    <div class="sub_solution_info">
                        <app-info-box [data]="boxInfoData"></app-info-box>
                    </div>

                    <div class="sub_solution_img">
                        <img src="assets/imgs/Image-(Replace2).jpg" alt="solution image">
                    </div>
                </div>

                <div class="sub_solution_info_single">
                    <app-info-box [data]="boxInfoData"></app-info-box>
                </div>
            </div>
        </div>
    </div>
</div>