/* You can add global styles to this file, and also import other style files */
@import "assets/styles/main.scss";

html {
  scroll-behavior: smooth;
}

body {
  background-color: #fff;

  .fill_btn,
  .empty_btn {
    border: 1px solid $primary-color;
    padding: 8px 16px;
    border-radius: 24px;
    span {
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
    }
  }

  .fill_btn {
    background-color: $primary-color;
    span {
      color: #ffffff;
    }
  }

  .empty_btn {
    background-color: transparent;
    color: $primary-color;
  }

  input.ng-invalid.ng-touched {
    border-color: red !important;
    color: red;
  }

  p-inputnumber.ng-invalid.ng-touched{
    input{
      border-color: red !important;
      color: red;
    }
  }
 

  .show_mobile {
    display: none !important;
    @media (max-width: 991.98px) {
      display: flex !important;
    }
  }

  .hide_mobile {
    display: flex !important;
    @media (max-width: 991.98px) {
      display: none !important;
    }
  }

}

html[dir="rtl"] {
  .change_dir {
    transform: rotate(180deg);
  }

  .p-float-label > label{
    left: auto;
    right: 0.75rem;
  }
}